.Header {
    background-color: rgba($color: #000000, $alpha: 0.15);
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: flex-end;
    height: 10%;
    .Header-FormControl {
        height: 100%;
        display: flex;
        align-items: center;
        width: 150px;
        margin-right: 20px;
    }
    .Header-FormGroup {
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 15%;
    }
}